<section class="container-fluid " style="margin-top:50px">
    <div class="col-md-12">
        <div class="box_info">
            <p>Indian Premier League 2019 - Fixtures & Results</p>
            <p>Filter by <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="vw">VW</option>
                    <option value="audi" selected>Audi</option>
                  </select></p>
        </div>
    </div>
</section>