<section class="container-fluid " style="margin-top:50px">
   <div class="row">
      <div class="col-md-12">
         <div class="box_info">
            <p class="title-head">Indian Premier League 2019</p>
            <p class="filter_by pull-right">Search by team
               <input type="text" placeholder="Search...">
               <i class="fa fa-search" aria-hidden="true"></i>
            </p>
         </div>
      </div>
   </div>
</section>
<section class="container-fluid">
   <div class="container-fluid detail-box">
      <div class="row">
         <div class="col-sm-3 col-md-7 left-box text-center">
         </div>
         <div class="col-md-1"></div>
      </div>
      <div class="row">
         <span class="match-date">Sunday 12th May 2019</span>

         <div class="col-md-12 bottom-margin">
            <div class="col-sm- col-md-7 logo-margin-top">
               <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                  </div> -->
               <div class="col-md-4 logo-margin-top2">
                  <strong>
                     <b>
                        DELHI CAPITALS


                        <h4 class="text_148">148/8</h4>
                        <h5 class="text_20">(20/20)</h5>
                     </b>
                  </strong>
               </div>
               <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/dc.png" /></div>
               <div class="col-md-2 cks-margin-top"> <img src="../../assets/csk.png" /></div>
               <div class="col-md-4 text-left logo-margin-top2">
                  <strong class="lose">
                     Chennai Super Kings <br>
                     <h4 class="text_149">149/8 </h4>
                     <h5 class="text_19"> (19/20)</h5>
                  </strong>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 right-border-btn">
            </div>
            <div class="col-sm-4 col-md-4 strong-margin">
               <strong class="Kolkata">Channai Super Kings won by 34 runs</strong>
               <button type="button" class="btn button-btn btn-1 btn-outline-primary">Summary</button>
            <br/>

               <button type="button" class="btn button-btn btn-info btn_primary btn-2">Scoreboard</button>
            </div>
         </div>
         <div class="col-md-12 bottom-margin">
            <div class="col-sm- col-md-7 logo-margin-top">
               <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                  </div> -->
               <div class="col-md-4 logo-margin-top2">
                  <strong class="lose">
                     <b>
                        Chennai Super Kings
                        <h4 class="text_148">148/8</h4>
                        <h5 class="text_20">(20/20)</h5>
                     </b>
                  </strong>
               </div>
               <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/csk.png" /></div>
               <div class="col-md-2 cks-margin-top"> <img src="../../assets/mi.png" /></div>
               <div class="col-md-4 text-left logo-margin-top2">
                  <strong>
                     Mumbai Indians<br>
                     <h4 class="text_149">149/8 </h4>
                     <h5 class="text_19"> (19/20)</h5>
                  </strong>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 right-border-btn">
            </div>
            <div class="col-sm-4 col-md-4 strong-margin">
               <strong class="Kolkata">Mumbai Indian won by 1 wicket</strong>
               <button type="button" class="btn button-btn btn-1 btn-outline-primary">Summary</button>
               <br/>
   
                  <button type="button" class="btn button-btn btn-info btn_primary btn-2">Scoreboard</button>
            </div>
         </div>

         <div class="col-md-12 bottom-margin">
            <div class="col-sm- col-md-7 logo-margin-top">
               <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                  </div> -->
               <div class="col-md-4 logo-margin-top2">
                  <strong>
                     <b>
                        SUNRISERS HYDERABAD


                        <h4 class="text_148">148/8</h4>
                        <h5 class="text_20">(20/20)</h5>
                     </b>
                  </strong>
               </div>
               <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/sh.png" /></div>
               <div class="col-md-2 cks-margin-top"> <img src="../../assets/rr.png" /></div>
               <div class="col-md-4 text-left logo-margin-top2">
                  <strong class="lose">
                     RAJASTHAN ROYALS

                     <br>
                     <h4 class="text_149">149/8 </h4>
                     <h5 class="text_19"> (19/20)</h5>
                  </strong>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 right-border-btn">
            </div>
            <div class="col-sm-4 col-md-4 strong-margin">
               <strong class="Kolkata"> Sunrisers Hyderabad
                  won by 34 runs</strong>
                  <button type="button" class="btn button-btn btn-1 btn-outline-primary">Summary</button>
                  <br/>
      
                     <button type="button" class="btn button-btn btn-info btn_primary btn-2">Scoreboard</button>
            </div>
         </div>
         <span class="match-date">Tuesday 7th May 2019</span>

         <div class="col-md-12 bottom-margin">
            <div class="col-sm- col-md-7 logo-margin-top">
               <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                  </div> -->
               <div class="col-md-4 logo-margin-top2">
                  <strong>
                     <b>
                        Chennai Super Kings
                        <h4 class="text_148">148/8</h4>
                        <h5 class="text_20">(20/20)</h5>
                     </b>
                  </strong>
               </div>
               <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/csk.png" /></div>
               <div class="col-md-2 cks-margin-top"> <img src="../../assets/mi.png" /></div>
               <div class="col-md-4 text-left logo-margin-top2">
                  <strong class="lose">
                     Mumbai Indians<br>
                     <h4 class="text_149">149/8 </h4>
                     <h5 class="text_19"> (19/20)</h5>
                  </strong>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 right-border-btn">
            </div>
            <div class="col-sm-4 col-md-4 strong-margin">
               <strong class="Kolkata">Kolkata Knight Riders won by 34 runs</strong>
               <button type="button" class="btn button-btn btn-1 btn-outline-primary">Summary</button>
               <br/>
   
                  <button type="button" class="btn button-btn btn-info btn_primary btn-2">Scoreboard</button>
            </div>
         </div>
         <span class="match-date">Tuesday 3th May 2019</span>
         <div class="col-md-12 bottom-margin">
            <div class="col-sm- col-md-7 logo-margin-top">
               <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                  </div> -->
               <div class="col-md-4 logo-margin-top2">
                  <strong>
                     <b>
                        Chennai Super Kings
                        <h4 class="text_148">148/8</h4>
                        <h5 class="text_20">(20/20)</h5>
                     </b>
                  </strong>
               </div>
               <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/csk.png" /></div>
               <div class="col-md-2 cks-margin-top"> <img src="../../assets/mi.png" /></div>
               <div class="col-md-4 text-left logo-margin-top2">
                  <strong class="lose">
                     Mumbai Indians<br>
                     <h4 class="text_149">149/8 </h4>
                     <h5 class="text_19"> (19/20)</h5>
                  </strong>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 right-border-btn">
            </div>
            <div class="col-sm-4 col-md-4 strong-margin">
               <strong class="Kolkata">Kolkata Knight Riders won by 34 runs</strong>
               <button type="button" class="btn button-btn btn-1 btn-outline-primary">Summary</button>
               <br/>
   
                  <button type="button" class="btn button-btn btn-info btn_primary btn-2">Scoreboard</button>
            </div>
         </div>
      </div>
   </div>
</section>