
.filter_by input{
  padding: 6px;
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 250px;
  text-indent: 5px;
  font-size: 12px;
}
.filter_by{
  position: relative;
  width: 35%;
}
.filter_by i{
  position: absolute;
  right: 60px;
  color: #ccc;
  top: 5px;
}
.title-head{
      font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
}
.box_info p{
  display: inline-block;
}

.box_info , .match_info{
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 0px;
  margin-top: 39px;
}

.detail-box{
 padding-top: 30px;
}
.left-box p{
 color: #666;
}
.logo-margin-top{
  margin-top:15px;
}
.logo-margin-top2{

      font-family: Roboto;
    line-height: 30px;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
        margin-top: 19px;
}

.logo-margin-top2 span,h3{

    font-family: Roboto;
    line-height: 30px;
    color: #212121;
    text-transform: uppercase;
    
}
.cks-margin-top img{
    max-height: 72px;
    width: auto!important;
    height: inherit;
    margin-top: 19px;
        max-width: 90px;

  }
.right-border-logo{
  border-right: 1px solid #c1bebe;
  height: 120px;
  width: 140px;
}
.won-detail p{
   margin-top:30px;
   margin-left:14%;
   color: blue;
}
.text_left
{
  margin-left: 20px;
}
.lose
{
  color: #615b5bf2;

    font-size: 22px;
    font-style: italic;
}
.text_148
{
  margin-left: 70px;
}
.text_20
{
      margin-left: 128px;
    margin-top: -35px;
}
.text_19
{
  margin-left: 84px;
    margin-top: -35px;
}
.text_149
{
  margin-left: 25px;
}

.right-border-btn{
  border-right: 1px solid #c1bebe;
  height: 120px;
  width: 100px;
  margin-top:15px;
}
.Kolkata
{
  color: #19398A;
  font-size: 18px;
  padding-top: 10px;
}


.btn-2
{
  width: 136px;
  height: 35px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn-1
{
    width: 136px;
    height: 35px;
    margin-top: 2%;
}
.btn_primary{
  background-color: #3a85d4 !important;

}

.bottom-margin{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3%;
    background-color: #ffffff;
}
.strong-margin{
  text-align: center;
  margin-top: 34px;
}
.match-date{
      font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 1rem;
}







