
.filter_by input{
  padding: 6px;
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 250px;
  text-indent: 5px;
  font-size: 12px;
}
.filter_by{
  position: relative;
  width: 35%;
}
.filter_by i{
  position: absolute;
  right: 60px;
  color: #ccc;
  top: 5px;
}

.box_info , .match_info{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0 1px 10px;
    margin-bottom: 15px;
}
.detail-box{
 padding-top: 30px;
 background-color: #ffffff;
}
.left-box p{
 color: #666;
}
.logo-margin-top{
  margin-top:20px;
}
.logo-margin-top2{

  font-family: Roboto;
  line-height: 30px;
  color: #212121;
}
.logo-margin-top2{

  font-family: Roboto;
  line-height: 30px;
  color: #212121;
}
.cks-margin-top img{

   max-width: 60px;
   max-height: 60px;
   width: auto!important;
   height: inherit;
}
.right-border-logo{
  border-right: 1px solid #666;
}
.won-detail p{
   margin-top:30px;
   margin-left:14%;
   color: blue;
}
.text_left
{
  margin-left: 20px;
}


