<section class="container-fluid " style="margin-top:50px">
  <div class="col-md-12">
      <div class="box_info">
          <p>Indian Premier League 2019 - Fixtures & Results</p>
          <p>Filter by <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="vw">VW</option>
                  <option value="audi" selected>Audi</option>
              </select></p>
      </div>
  </div>
  <div class="col-md-6 team_record">
      <div class="match_info nopadd">
          <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                  name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                  href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                  <div class="cscore_overview">
                      <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                              class="cscore_time time">Result</span></div>
                      <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                      </div>
                  </div>
                  <div class="cscore_details">
                      <ul class="cscore_competitors ">
                          <li class="cscore_item cscore_item--home">
                              <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                      data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                              </div>
                              <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                          class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                          class="cscore_name cscore_name--abbrev">MI</span></span>
                                  <div class="cscore_score ">149/8</div>
                              </div>
                          </li>
                          <li class="cscore_item cscore_item--away">
                              <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                      data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                              </div>
                              <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                          class="cscore_name cscore_name--short">CSK</span><span
                                          class="cscore_name cscore_name--abbrev">CSK</span></span>
                                  <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                              </div>
                          </li>
                      </ul>

                  </div>
              </a>
              <p class="team_win"> CSK won by 12 run</p>
              <p class="scor_bt">
                  <button> scorecard</button>
                  <button> summary</button> <button>series home </button> </p>
          </div>
      </div>
  </div>
  <div class="col-md-6 team_record">
          <div class="match_info nopadd">
              <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                      name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                      href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                      <div class="cscore_overview">
                          <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                  class="cscore_time time">Result</span></div>
                          <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                          </div>
                      </div>
                      <div class="cscore_details">
                          <ul class="cscore_competitors ">
                              <li class="cscore_item cscore_item--home">
                                  <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                          data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                          src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                  </div>
                                  <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                              class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                              class="cscore_name cscore_name--abbrev">MI</span></span>
                                      <div class="cscore_score ">149/8</div>
                                  </div>
                              </li>
                              <li class="cscore_item cscore_item--away">
                                  <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                          data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                          src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                  </div>
                                  <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                              class="cscore_name cscore_name--short">CSK</span><span
                                              class="cscore_name cscore_name--abbrev">CSK</span></span>
                                      <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                  </div>
                              </li>
                          </ul>
  
                      </div>
                  </a>
                  <p class="team_win"> CSK won by 12 run</p>
                  <p class="scor_bt">
                      <button> scorecard</button>
                      <button> summary</button> <button>series home </button> </p>
              </div>
          </div>
      </div>
      <div class="col-md-6 team_record">
              <div class="match_info nopadd">
                  <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                          name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                          href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                          <div class="cscore_overview">
                              <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                      class="cscore_time time">Result</span></div>
                              <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                              </div>
                          </div>
                          <div class="cscore_details">
                              <ul class="cscore_competitors ">
                                  <li class="cscore_item cscore_item--home">
                                      <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                              data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                              src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                      </div>
                                      <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                  class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                  class="cscore_name cscore_name--abbrev">MI</span></span>
                                          <div class="cscore_score ">149/8</div>
                                      </div>
                                  </li>
                                  <li class="cscore_item cscore_item--away">
                                      <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                              data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                              src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                      </div>
                                      <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                  class="cscore_name cscore_name--short">CSK</span><span
                                                  class="cscore_name cscore_name--abbrev">CSK</span></span>
                                          <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                      </div>
                                  </li>
                              </ul>
      
                          </div>
                      </a>
                      <p class="team_win"> CSK won by 12 run</p>
                      <p class="scor_bt">
                          <button> scorecard</button>
                          <button> summary</button> <button>series home </button> </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 team_record">
                  <div class="match_info nopadd">
                      <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                              name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                              href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                              <div class="cscore_overview">
                                  <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                          class="cscore_time time">Result</span></div>
                                  <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                                  </div>
                              </div>
                              <div class="cscore_details">
                                  <ul class="cscore_competitors ">
                                      <li class="cscore_item cscore_item--home">
                                          <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                                  data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                                  src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                          </div>
                                          <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                      class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                      class="cscore_name cscore_name--abbrev">MI</span></span>
                                              <div class="cscore_score ">149/8</div>
                                          </div>
                                      </li>
                                      <li class="cscore_item cscore_item--away">
                                          <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                                  data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                                  src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                          </div>
                                          <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                      class="cscore_name cscore_name--short">CSK</span><span
                                                      class="cscore_name cscore_name--abbrev">CSK</span></span>
                                              <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                          </div>
                                      </li>
                                  </ul>
          
                              </div>
                          </a>
                          <p class="team_win"> CSK won by 12 run</p>
                          <p class="scor_bt">
                              <button> scorecard</button>
                              <button> summary</button> <button>series home </button> </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 team_record">
                      <div class="match_info nopadd">
                          <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                                  name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                                  href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                                  <div class="cscore_overview">
                                      <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                              class="cscore_time time">Result</span></div>
                                      <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                                      </div>
                                  </div>
                                  <div class="cscore_details">
                                      <ul class="cscore_competitors ">
                                          <li class="cscore_item cscore_item--home">
                                              <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                                      data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                                      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                              </div>
                                              <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                          class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                          class="cscore_name cscore_name--abbrev">MI</span></span>
                                                  <div class="cscore_score ">149/8</div>
                                              </div>
                                          </li>
                                          <li class="cscore_item cscore_item--away">
                                              <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                                      data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                                      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                              </div>
                                              <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                          class="cscore_name cscore_name--short">CSK</span><span
                                                          class="cscore_name cscore_name--abbrev">CSK</span></span>
                                                  <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                              </div>
                                          </li>
                                      </ul>
              
                                  </div>
                              </a>
                              <p class="team_win"> CSK won by 12 run</p>
                              <p class="scor_bt">
                                  <button> scorecard</button>
                                  <button> summary</button> <button>series home </button> </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 team_record">
                          <div class="match_info nopadd">
                              <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                                      name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                                      href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                                      <div class="cscore_overview">
                                          <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                                  class="cscore_time time">Result</span></div>
                                          <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                                          </div>
                                      </div>
                                      <div class="cscore_details">
                                          <ul class="cscore_competitors ">
                                              <li class="cscore_item cscore_item--home">
                                                  <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                                          data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                                          src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                                  </div>
                                                  <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                              class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                              class="cscore_name cscore_name--abbrev">MI</span></span>
                                                      <div class="cscore_score ">149/8</div>
                                                  </div>
                                              </li>
                                              <li class="cscore_item cscore_item--away">
                                                  <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                                          data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                                          src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                                  </div>
                                                  <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                              class="cscore_name cscore_name--short">CSK</span><span
                                                              class="cscore_name cscore_name--abbrev">CSK</span></span>
                                                      <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                                  </div>
                                              </li>
                                          </ul>
                  
                                      </div>
                                  </a>
                                  <p class="team_win"> CSK won by 12 run</p>
                                  <p class="scor_bt">
                                      <button> scorecard</button>
                                      <button> summary</button> <button>series home </button> </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 team_record">
                              <div class="match_info nopadd">
                                  <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                                          name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                                          href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                                          <div class="cscore_overview">
                                              <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                                      class="cscore_time time">Result</span></div>
                                              <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                                              </div>
                                          </div>
                                          <div class="cscore_details">
                                              <ul class="cscore_competitors ">
                                                  <li class="cscore_item cscore_item--home">
                                                      <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                                              data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                                              src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                                      </div>
                                                      <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                                  class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                                  class="cscore_name cscore_name--abbrev">MI</span></span>
                                                          <div class="cscore_score ">149/8</div>
                                                      </div>
                                                  </li>
                                                  <li class="cscore_item cscore_item--away">
                                                      <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                                              data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                                              src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                                      </div>
                                                      <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                                  class="cscore_name cscore_name--short">CSK</span><span
                                                                  class="cscore_name cscore_name--abbrev">CSK</span></span>
                                                          <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                                      </div>
                                                  </li>
                                              </ul>
                      
                                          </div>
                                      </a>
                                      <p class="team_win"> CSK won by 12 run</p>
                                      <p class="scor_bt">
                                          <button> scorecard</button>
                                          <button> summary</button> <button>series home </button> </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 team_record">
                                  <div class="match_info nopadd">
                                      <div class="cscore final cscore--home-winner cricket cscore--series"><a class="cscore_link"
                                              name="&amp;lpos=cricket:teamclubhouse:schedule:final"
                                              href="http://www.espncricinfo.com/series/8048/game/1181768/mumbai-indians-vs-chennai-super-kings-final-indian-premier-league-2019">
                                              <div class="cscore_overview">
                                                  <div class="cscore_date-time" data-date="2019-05-12T14:00Z" data-behavior="date_time"><span
                                                          class="cscore_time time">Result</span></div>
                                                  <div class="cscore_info-overview">Final (N), Indian Premier League at Hyderabad, May 12 2019
                                                  </div>
                                              </div>
                                              <div class="cscore_details">
                                                  <ul class="cscore_competitors ">
                                                      <li class="cscore_item cscore_item--home">
                                                          <div class="cscore_logo"><img class="cscore_image gs-logo-home" data-lazyload="true"
                                                                  data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32"
                                                                  src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335978.png&amp;h=32&amp;w=32">
                                                          </div>
                                                          <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                                      class="cscore_name cscore_name--short">Mumbai Indians</span><span
                                                                      class="cscore_name cscore_name--abbrev">MI</span></span>
                                                              <div class="cscore_score ">149/8</div>
                                                          </div>
                                                      </li>
                                                      <li class="cscore_item cscore_item--away">
                                                          <div class="cscore_logo"><img class="cscore_image gs-logo-away" data-lazyload="true"
                                                                  data-src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32"
                                                                  src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/335974.png&amp;h=32&amp;w=32">
                                                          </div>
                                                          <div class="cscore_team icon-font-after"><span class="cscore_truncate"><span
                                                                      class="cscore_name cscore_name--short">CSK</span><span
                                                                      class="cscore_name cscore_name--abbrev">CSK</span></span>
                                                              <div class="cscore_score ">148/7 (20 ov, target 150)</div>
                                                          </div>
                                                      </li>
                                                  </ul>
                          
                                              </div>
                                          </a>
                                          <p class="team_win"> CSK won by 12 run</p>
                                          <p class="scor_bt">
                                              <button> scorecard</button>
                                              <button> summary</button> <button>series home </button> </p>
                                      </div>
                                  </div>
                              </div>
  
 
  

</section>