<section class="container-fluid " style="margin-top:50px">
    <div class="row">
          <div class="col-md-12">
                  <div class="box_info">
                      <p>Indian Premier League 2019</p>
                      <p class="filter_by">Search by team
                          <input type="text" placeholder="Search...">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </p>
                  </div>
              </div>
    </div>
  </section>
    
<section class="container-fluid">
      <div class="container-fluid detail-box">
        <div class="row">
           <div class="col-sm-3 col-md-7 left-box text-center">
           </div>
           <div class="col-md-1"></div>
          
        </div>
        
        <div class="row">
             <div class="col-md-12">
               <div class="col-sm- col-md-7 logo-margin-top">

              <!--     <div class="col-md-4 text-right logo-margin-top2"><span>Chennai Super Kings<h4 class="text_left">148/8</h4><h5>20/20</h5></span><br>
                    
                </div> -->
                <div class="col-md-4 logo-margin-top2">
                  <span><b>Chennai Super Kings </b><h2>1</h2> </span>
                    <
                </div>
                   <div class="col-md-2 cks-margin-top right-border-logo"> <img src="../../assets/csk.png"/></div>
                   <div class="col-md-2 cks-margin-top"> <img src="../../assets/mi.png"/></div>
                   <div class="col-md-4 text-left logo-margin-top2"><strong>Mumbai Indians<br><h3>149/8 </h3><h5>(19/20)</h5></strong></div>

                 </div>
                
                 <div class="col-md-1"></div>
                 
             </div>

           </div>
           <section>
             
           </section>


           <div class="row">
               <div class="col-md-12 text-left won-detail">
                     <p>Mumbai Indians beat Chennai Super Kings by 1 run</p>
               </div>
          </div>
      </div>
  
  </section>
        