.profile{
    margin-top: 50px;
}
.side_bar , .player_table{
    background-color: #f9f9fb;
    border-radius: 5px;
}
h6.side_bar_head {
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
.side_bar ul li{ 
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    color: #ada8a8;
}
.side_bar ul li i{
    margin-right:2px;
}
.side_bar ul li:hover{ 
    background: #28bf87;
    color: #fff !important;
}
.player_table {
    margin-top: 28px;
    padding: 10px;
    overflow: hidden;
}
.player_table h6 img{
    width: 20px;
    border-radius: 100px;
}
span.contry_name {
    font-size: 12px;
    font-weight: normal;
}
.plyer_record{
    margin-top: 15px;
}
.player_img img{
    height: 170px;
}
.plyer_record ul li{
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.plyer_record ul li:hover{
    color: #28bf87
    
}

.side-menu-right{
    float: right;
    margin-top: 30px;
}

.bg-menu-li{
    background-color:#343a40 !important;
    border-top:7px solid #28bf87;
}
.side-bar-li-head{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.ul-menu-margin{
    margin-top: 50px;
}
.jersey-bg{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #28bf87;
    text-align: center;
    margin:17px;
}
.jersey-num{
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}
.player-name{
    margin-top: -56px;
    margin-left: 97px;
    font-size: 26px;
    position: absolute;
}
.img-div{
    height: 250px;
    width: 220px;
    margin-top: 21px;
    margin-left: 15px;
    background-color: #e8dede;
}
#margin-left{
    margin-left: 7%;
}
.flag img{
    position: relative;
    float: right;
    margin-right: 26%;
    margin-top: -70px;
}
.table-id-bg{
    margin-top: -21%;
    margin-left: 21%;
    width: 577px;
    height: 249px;
    padding: 52px;
    background-color: #f9f9fb;
}
.table-id{
    margin-top: -10%;
    margin-left: 7%;
    width: 577px;
    height: 236px;
}
#description{
    padding: 2%;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}
#description p{
    margin-left: 5%;
    margin-right: 27%;
}
.borderTable{
    border-top: 7px solid #28bf87;
    width: 65%;
    font-size: 12px;
    margin-left: 6%;
    margin-top: 1%;
}
.table-hadding{
    margin-left: 6%;
    margin-top:4%;
}
.tr{
    width: 97px;
    font-size: 13px;
}
