<section class="container-fluid profile">
  <div class="col-md-3 side-menu-right">

    <div class="side_bar">
      <ul>
        <li class="bg-menu-li">
          <h6 class="side-bar-li-head"> Quick Lins</h6>
        </li>
        <li> Betting & fieling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
      </ul>
    </div>
    <div class="side_bar">
      <ul class="ul-menu-margin">
        <li class="bg-menu-li">
          <h6 class="side-bar-li-head">India</h6>
        </li>
        <li> Betting & fieling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
        <li> Bowling averages</li>
      </ul>
    </div>
  </div>
  <!-- 
    <div class="col-md-10 ">
      <div class="player_table ">
        <h6 class="side_bar_head"> Rohit Sharma  <img src="../../assets/Flag-of-India.png" alt=""> <br> <span class="contry_name">
            India
        </span>  </h6>

        <div class="col-md-12 plyer_record nopadd">
            <div class="col-md-6 text-left player_img">
                <img src="../../assets/rohitjpg.jpg" alt="">
                </div>
          <div class="col-md-6 nopadd">
              <ul>
                  <li> Full name Rohit Sharma</li>
                  <li> Born November 6, 1995, Delhi</li>
                  <li> Bowling averages</li>
                  <li> Bowling averages</li>
                  <li> Bowling averages</li>
                  <li> Bowling averages</li>
                  <li> Bowling averages</li>
                  <li> Betting & fieling averages</li>
                  <li> Bowling averages</li>
                </ul> 
          </div>

        </div>
      </div>
    </div> -->
</section>
<section id="margin-left">
  <div class="jersey-bg">
    <h6 class="jersey-num">18</h6>
  </div>
  <div>
    <h6 class="player-name"><b>Virat Kohli</b></h6>
  </div>
  <div class="flag"><img src="../../assets/india_flag_png.png" height="70px" width="100px"></div>
</section>
<section id="margin-left">
  <div class="img-div">
    <img src="../../assets/Virat-Kohli.jpg" alt="" height="250px" width="220px">
  </div>
  <div class="id">
    <div class="table-id-bg">
      <table class="table-id">
        <tr class="tr-id">
          <th class="td-id">Full Name : </th>
          <td class="td-id">Virat Kohli </td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Born :</th>
          <td class="td-id">November 5, 1988, Delhi</td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Current Age : </th>
          <td class="td-id">30 Year 205 days</td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Major Teams : </th>
          <td class="td-id">India, Delhi ..</td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Playing Role : </th>
          <td class="td-id">Top Order batsman</td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Bating Style : </th>
          <td class="td-id">Right-Hand Bat</td>
        </tr>
        <tr class="tr-id">
          <th class="td-id">Bowling Style : </th>
          <td class="td-id">Right-arm Medium</td>
        </tr>
      </table>
    </div>

  </div>
</section>

<section id="description">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa unde
    perferendis molestias saepe iusto voluptatibus odit delectus debitis
    numquam doloremque, dolore quam culpa cupiditate nesciunt, non fugiat
    aut praesentium impedit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa unde
    perferendis molestias saepe iusto voluptatibus odit delectus debitis
    numquam doloremque, dolore quam culpa cupiditate nesciunt, non fugiat
    aut praesentium impedit.</p>
</section>

<section id="table1">
  <div class="table-hadding">
    <h4>Betting and fieling averages</h4>
  </div>
  <table class="table borderTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th>Mat</th>
        <th>Inns</th>
        <th>NO</th>
        <th>Runs</th>
        <th>Otto</th>
        <th>HS</th>
        <th>Ave</th>
        <th>BF</th>
        <th>SR</th>
        <th>100</th>
        <th>50</th>
        <th>4s</th>
        <th>6s</th>
        <th>Ct</th>
        <th>St</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tests</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>

      </tr>
      <tr>
        <th scope="row">Odis</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
      <tr>
        <th scope="row">T20Is</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">First Class</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
      <tr>
        <th scope="row">List A</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">T20s</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
    </tbody>
  </table>

  <!-- <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th>Mat</th>
              <th>Inns</th>
              <th>NO</th>
              <th>Runs</th>
              <th>Otto</th>
              <th>HS</th>
              <th>Ave</th>
              <th>BF</th>
              <th>SR</th>
              <th>100</th>
              <th>50</th>
              <th>4s</th>
              <th>6s</th>
              <th>Ct</th>
              <th>St</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
          </tbody>
        </table> -->
</section>

<section id="table1">
  <div class="table-hadding">
    <h4>Bowling averages</h4>
  </div>
  <table class="table borderTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th>Mat</th>
        <th>Inns</th>
        <th>NO</th>
        <th>Runs</th>
        <th>Otto</th>
        <th>HS</th>
        <th>Ave</th>
        <th>BF</th>
        <th>SR</th>
        <th>100</th>
        <th>50</th>
        <th>4s</th>
        <th>6s</th>
        <th>Ct</th>
        <th>St</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tests</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>

      </tr>
      <tr>
        <th scope="row">Odis</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
      <tr>
        <th scope="row">T20Is</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">First Class</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
      <tr>
        <th scope="row">List A</th>
        <td>11</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">T20s</th>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>9</td>
        <td>2</td>
        <td>77</td>
        <td>2</td>
        <td>88</td>
        <td>7</td>
        <td>22</td>
        <td>99</td>
        <td>22</td>
        <td>88</td>

      </tr>
    </tbody>
  </table>

  <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th>Mat</th>
                <th>Inns</th>
                <th>NO</th>
                <th>Runs</th>
                <th>Otto</th>
                <th>HS</th>
                <th>Ave</th>
                <th>BF</th>
                <th>SR</th>
                <th>100</th>
                <th>50</th>
                <th>4s</th>
                <th>6s</th>
                <th>Ct</th>
                <th>St</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table> -->
</section>

<section id="table1">
  <div class="table-hadding">
    <h4>Career Statistics</h4>
  </div>
  <table class="table borderTable">
    <tbody>
      <tr class="tr">
        <th scope="row">Test about</th>
        <td>West India at Klngston, Jun 2o-23-2011</td>
      </tr>
      <tr>
        <th scope="row">Last test</th>
        <td>West India at Klngston, Jun 2o-23-2011</td>
      </tr>
      <tr>
        <th scope="row">Test statistics</th>
        <td>
          <select class="form-control">
            <option value="volvo">Ststsguru test analysis</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select></td>
      </tr>
      <tr>
        <th scope="row">ODI debut</th>
        <td>West India at Klngston, Jun 2o-23-2011</td>
      </tr>
      <tr>
        <th scope="row">Last ODI</th>
        <td>
          <select class="form-control">
            <option value="volvo">Ststsguru test analysis</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select></td>
      </tr>
      <tr>
        <th scope="row">ODI statistics</th>
        <td>West India at Klngston, Jun 2o-23-2011</td>
      </tr>
    </tbody>
  </table>

  <!-- <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th>Mat</th>
                  <th>Inns</th>
                  <th>NO</th>
                  <th>Runs</th>
                  <th>Otto</th>
                  <th>HS</th>
                  <th>Ave</th>
                  <th>BF</th>
                  <th>SR</th>
                  <th>100</th>
                  <th>50</th>
                  <th>4s</th>
                  <th>6s</th>
                  <th>Ct</th>
                  <th>St</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table> -->
</section>