<section class="container-fluid profile">
    <div class="col-md-2">
        <h6 class="side_bar_head"> Quick Lins</h6>
        <div class="side_bar">
          <ul>
            <li> Betting & fieling averages</li>
            <li> Bowling averages</li>
            <li> Bowling averages</li>
            <li> Bowling averages</li>
            <li> Bowling averages</li>
            <li> Bowling averages</li>
          </ul>  
        </div>
        <h6 class="side_bar_head"> Player Information</h6>
        <div class="side_bar">
            <ul>
              <li class="text-center" style="color:#000; font-weight: 600;font-size: 14px;"> India</li>
              <li> Betting & fieling averages</li>
              <li> Bowling averages</li>
              <li> Bowling averages</li>
              <li> Bowling averages</li>
              <li> Bowling averages</li>
              <li> Bowling averages</li>
            </ul>  
          </div>
      </div>

      <div class="col-md-10 ">
        <div class="player_table ">
          <h6 class="side_bar_head"> Rohit Sharma  <img src="../../assets/Flag-of-India.png" alt=""> <br> <span class="contry_name">
              India
          </span>  </h6>

          <div class="col-md-12 plyer_record nopadd">
            <div class="col-md-6 nopadd">
                <ul>
                    <li> Full name Rohit Sharma</li>
                    <li> Born November 6, 1995, Delhi</li>
                    <li> Bowling averages</li>
                    <li> Bowling averages</li>
                    <li> Bowling averages</li>
                    <li> Bowling averages</li>
                    <li> Bowling averages</li>
                    <li> Betting & fieling averages</li>
                    <li> Bowling averages</li>
                  </ul> 
            </div>
            <div class="col-md-6 text-right player_img">
              <img src="../../assets/rohitjpg.jpg" alt="">
              </div>
          </div>
        </div>
      </div>
</section>
