<section class="container-fluid tournament">
  <div class="col-md-3">
    <article class="sub-module quicklinks">
      <div class="quicklinks__container">
        <header class="quicklinks__header">
          <h2 class="quicklinks__heading">Key Series</h2>
        </header>
        <ul class="quicklinks_list nopadd">
          <li class="quicklinks_list__item quicklinks--hidden">
            <a name="&amp;lpos=cricket:keyseries:1:app" data-divider="none" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/cup.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">APP</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:2:cricketworldcup2019" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="/series/_/id/8039/season/2019/icc-cricket-world-cup"
              class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/cup.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">Cricket World Cup 2019</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item quicklinks--hidden">
            <a name="&amp;lpos=cricket:keyseries:3:cricketpicksmobilesubnavlink" data-divider="none"
              data-forceicon="true" data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/cup.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">Cricket Picks Mobile Sub Nav Link</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:4:worldcupwarmup" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ball.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">World Cup Warm-up</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:5:indiaavsrilankaa" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ball.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">India A v Sri Lanka A</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:6:ipl2019" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ipllogo.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">IPL 2019</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:7:countycshipdiv1" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ball.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">County C'ship - Div 1</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:8:countycshipdiv2" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ball.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">County C'ship - Div 2</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:9:nepalpmcup" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/ball.png" alt="" class="lazyloaded"></div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">Nepal PM Cup</span>
              </div>
            </a>
          </li>
          <li class="quicklinks_list__item">
            <a name="&amp;lpos=cricket:keyseries:10:iccwomenschampionship" data-forceicon="true"
              data-breakpoints="mobile,tablet,desktop" href="#" class="quicklinks_list__link ">
              <div class="quicklinks_list__icon"><img src="../../../assets/woman-ball.png" alt="" class="lazyloaded">
              </div>
              <div class="quicklinks_list__detail">
                <span class="quicklinks_list__name">ICC Women's Championship</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
  <div class="col-md-6 contentItem">
    <header class="contentItem__header">
      <a class="contentItem__header__wrapper" href="#">
        <div class="contentItem__logo"><img class="lazyloaded imageLoaded"
            data-src="https://a.espncdn.com/i/cricket/worldcup2019/images/Worldcup-countdown-Icon-2019.png"
            src="https://a.espncdn.com/i/cricket/worldcup2019/images/Worldcup-countdown-Icon-2019.png">
        </div>
        <div class="contentItem__header__headings">
          <h1>Bangladesh v South Africa</h1>
          <h2 data-header-description="World Cup 2019, The Oval">World Cup 2019, The Oval</h2>
        </div>
      </a>
      <div class="contentItem__header__link"><a href="/series/_/id/8039/season/2019/icc-cricket-world-cup">See All</a>
      </div>
    </header>

    <div class="cscore cricket cscore--away-winner cscore--final">
      <a class="cscore_link" data-mptype="scoreboard"
        href="http://www.espncricinfo.com/series/8039/game/1144487/bangladesh-vs-south-africa-5th-match-icc-cricket-world-cup-2019">
        <div class="cscore_overview">
          <div class="cscore_date-time">
            <span class="cscore_time time">3:00 PM</span>
          </div>
          <div class="cscore_info clear">
          </div>
          <div class="cscore_info-overview">
            5th match, ICC Cricket World Cup at London, Jun 2 2019
          </div>
        </div>
        <div class="cscore_details">
          <ul class="cscore_competitors nopadd">
            <li class="cscore_item cscore_item--away ">

              <div class="cscore_logo"><img class="cscore_image gs-logo-away  lazyloaded imageLoaded"
                  data-lazyload="true"
                  data-src="https://a1.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/25.png&amp;h=30&amp;w=30"
                  alt="" src="https://a1.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/25.png&amp;h=30&amp;w=30">
              </div>
              <div class="cscore_team  icon-font-after">
                <div class="cscore_truncate">
                  <span class="cscore_name cscore_name--long">Bangladesh</span>
                  <span class="cscore_name cscore_name--short">BDESH</span>
                  <span class="cscore_name cscore_name--abbrev">BDESH</span>
                </div>
                <div class="cscore_score update__score  ">
                  330/6
                </div>
              </div>
            </li>
            <li class="cscore_item cscore_item--home last">
              <div class="cscore_logo"><img class="cscore_image gs-logo-home  lazyloaded imageLoaded"
                  data-lazyload="true"
                  data-src="https://a1.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/3.png&amp;h=30&amp;w=30"
                  alt="" src="https://a1.espncdn.com/combiner/i?img=/i/teamlogos/cricket/500/3.png&amp;h=30&amp;w=30">
              </div>
              <div class="cscore_team  icon-font-after">
                <div class="cscore_truncate">
                  <span class="cscore_name cscore_name--long">South Africa</span>
                  <span class="cscore_name cscore_name--short">SA</span>
                  <span class="cscore_name cscore_name--abbrev">SA</span>
                </div>
                <div class="cscore_score update__score  ">
                  309/8 (50 ov, target 331)
                </div>
              </div>
            </li>
          </ul>
          <div class="cscore_info clear"> </div>

        </div>
      </a>

      <div class="cscore_commentary cscore_commentary--footer">
        <div class="cscore_notes">
          <span class="cscore_notes_game">Bangladesh won by 21 runs</span>
        </div>
      </div>
    </div>

    <section
      class="contentItem__content contentItem__content--fullWidth contentItem__content--enhanced contentItem__content--hero contentItem--gameblock contentItem__padding contentItem__padding--border has-image contentItem__content--story">
      <a name="&amp;lpos=cricket:feed:1:8039:story" data-id="26884128"
        href="/story/_/id/26884128/live-report-england-v-pakistan" class="contentItem__padding">

        <figure class="media-wrapper">
          <picture class="media-wrapper_image">
            <img class="media-wrapper_image" src="../../../assets/player_bg.jpg"></picture>

        </figure>
      </a>
      <div class="contentItem__titleWrapper">
        <h1 class="contentItem__title contentItem__title--hero contentItem__title--story">Live report - Shakib Al Hasan
          man of the match </h1>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <div class="headlineStack">
      <header class="headlineStack__header">
        <h1 class="module__header"> Top Headlines</h1>
      </header>
      <section class="headlineStack__listContainer">
        <ul class="headlineStack__list">
          <li ><a
              href="#">World Cup 2019: All
              of ESPNcricinfo's coverage</a></li>
          <li  ><a
              href="#"
              >World record pitch for England-Pakistan clash</a></li>
          <li data-story-id="26879861" data-id="26882991"><a
              href="#"  >Jonty Rhodes:
              "Ok; time to panic." SA, you must</a></li>
          <li data-story-id="26878824" data-id="26881167"><a
              href="#"
              >It only takes ten good balls - Azhar Mahmood</a></li>
          <li ><a
              href="#"
              >SA search for new plan after horror start</a></li>
          <li ><a
              href="#"
              >Gulbadin: 'Can't believe I'm Afghanistan captain'</a></li>
          <li ><a
              href="#"  >How
              Soumya Sarkar shocked South Africa</a></li>
          <li ><a
              href="#" class="external"
              target="_blank"  >Samiuddin: a tale of two deliveries</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>