<section class="container-fluid tournament">
 <div class="col-md-2">
   <div class="side_bar">
     
     <h6 class="side_bar_heading"> All Series</h6>
     <nav class='animated bounceInDown'>
	<ul>
    <li class='sub-menu'><a href='#profile' ><div class='fa fa-caret-down right'></div>World Cup</a>
      <ul>
          <li><a href='#profile'>Session 1</a></li>
          <li><a href='#profile'>Session 2</a></li>
          <li><a href='#profile'>Session 3</a></li>
          <li><a href='#profile'>Session 4</a></li>
          <li><a href='#profile'>Session 5</a></li>
          <li><a href='#profile'>Session 6</a></li>
          <li><a href='#profile'>Session 7</a></li>
          <li><a href='#profile'>Session 8</a></li>
          <li><a href='#profile'>Session 9</a></li>
          <li><a href='#profile'>Session 10</a></li>
          <li><a href='#profile'>Session 11</a></li>
          <li><a href='#profile'>Session 12</a></li>
			</ul></li>
    <li class='sub-menu'><a href='#message'><div class='fa fa-caret-down right'></div>Duleep Trophy</a>
      <ul>
          <li><a href='#message'>Session 1</a></li>
          <li><a href='#message'>Session 2</a></li>
          <li><a href='#message'>Session 3</a></li>
          <li><a href='#message'>Session 4</a></li>
          <li><a href='#message'>Session 5</a></li>
          <li><a href='#message'>Session 6</a></li>
          <li><a href='#message'>Session 7</a></li>
          <li><a href='#message'>Session 8</a></li>
          <li><a href='#message'>Session 9</a></li>
          <li><a href='#message'>Session 10</a></li>
          <li><a href='#message'>Session 11</a></li>
          <li><a href='#message'>Session 12</a></li>
			</ul>
    </li>
		<li class='sub-menu'><a href='#settings'>Vijay Hazare Trophy<div class='fa fa-caret-down right'></div></a>
			<ul>
          <li><a href='#settings'>Session 1</a></li>
          <li><a href='#settings'>Session 2</a></li>
          <li><a href='#settings'>Session 3</a></li>
          <li><a href='#settings'>Session 4</a></li>
          <li><a href='#settings'>Session 5</a></li>
          <li><a href='#settings'>Session 6</a></li>
          <li><a href='#settings'>Session 7</a></li>
          <li><a href='#settings'>Session 8</a></li>
          <li><a href='#settings'>Session 9</a></li>
          <li><a href='#settings'>Session 10</a></li>
          <li><a href='#settings'>Session 11</a></li>
          <li><a href='#settings'>Session 12</a></li>
			</ul>
		</li>
		<li class='sub-menu'><a href='#message'>Ranji Trophy<div class='fa fa-caret-down right'></div></a>
			<ul>
				<li><a href='#ran'>Ranji Trophy</a></li>
				<!-- <li><a href='#irani'>Irani Cup</a></li> -->
       
			</ul>
		</li>
    <li class='sub-menu'><a href='#settings'>Indian Premier League <div class='fa fa-caret-down right'></div></a>
      <ul>
          <li><a routerLink='match'>Session 1</a></li>
          <li><a href='#settings'>Session 2</a></li>
          <li><a href='#settings'>Session 3</a></li>
          <li><a href='#settings'>Session 4</a></li>
          <li><a href='#settings'>Session 5</a></li>
          <li><a href='#settings'>Session 6</a></li>
          <li><a href='#settings'>Session 7</a></li>
          <li><a href='#settings'>Session 8</a></li>
          <li><a href='#settings'>Session 9</a></li>
          <li><a href='#settings'>Session 10</a></li>
          <li><a href='#settings'>Session 11</a></li>
          <li><a href='#settings'>Session 12</a></li>
      </ul>
    </li>	</ul>
</nav>
   </div>
 </div>
 <div class="col-md-8">
   <div class="tournament_series">
    <h6 class="side_bar_head"> <img src="../../../assets/duleep_cup.png" alt=""> <span class="team">  KINGS XI PUNJAB vs DELHI CAPITALS <br>  <span class="trophy_name">Indian-premier-league-2019 </span>  </span>
     <span class="see_all">See All</span>
     </h6>
     <div class="match_statu">
       <p class="live">Live</p>
       <p>Sunday 12th May 2019</p>
     </div>
     <div class="team_score">
       <p> <img src="../../../assets/panjab.jpg" alt=""> <span class="team_name">KINGS XI PUNJAB</span> 
        <span class="target">150 Runs (20 Over) </span>   </p>
       <p> <img src="../../../assets/delhi.jpg" alt=""> <span class="team_name">DELHI CAPITALS</span> 
        <span class="target"> 75/2 Runs (8.4 Over) </span>  </p>
        <marquee  behavior="scroll" direction="left">Delhi Capital need 75 runs with 72 ball</marquee>
     </div>
     <div class="live_match">
     <img src="../../../assets/capital_bg.jpg" width="100%" alt=""> 
        <p class="team_win">Delhi Capital Won by 5 Wickets </p>
     </div>
   </div> 
   <div class="tournament_series margin_top12">
      <h6 class="side_bar_head"> <img src="../../../assets/duleep_cup.png" alt=""> <span class="team">  KINGS XI PUNJAB vs DELHI CAPITALS <br>  <span class="trophy_name">Indian-premier-league-2019 </span>  </span>
       <span class="see_all">See All</span>
       </h6>
       <div class="match_statu">
         <p class="live">Live</p>
         <p>Friday 08th May 2019</p>
       </div>
       <div class="team_score">
         <p> <img src="../../../assets/panjab.jpg" alt=""> <span class="team_name">KINGS XI PUNJAB</span> 
          <span class="target">150 Runs (20 Over) </span>   </p>
         <p> <img src="../../../assets/delhi.jpg" alt=""> <span class="team_name">DELHI CAPITALS</span> 
          <span class="target"> 75/2 Runs (8.4 Over) </span>  </p>
          <marquee  behavior="scroll" direction="left">Delhi Capital need 75 runs with 72 ball</marquee>
       </div>
       <div class="live_match">
       <img src="../../../assets/capital_bg.jpg" width="100%" alt=""> 
          <p class="team_win">Delhi Capital Won by 5 Wickets </p>
       </div>
     </div> 
 </div>
 <div class="col-md-2">
  <div class="side_bar">
    <h6 class="side_bar_heading"> Top Story</h6>
    <ul>
      <li> World Cup 2019</li>
      <li> Duleep Trophy 2019</li>
      <li> Vijay Hazare Trophy 2019</li>
      <li> Ranji Trophy 2019</li>
      <li> Irani Cup 2019</li>
      <li> Indian Premier League 2019</li>
    </ul>  
  </div>
 </div>
</section> 
