
.side_bar{
    background-color: #f9f9fb;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h6.side_bar_heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    padding: 10px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}


h6.side_bar_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 12px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
}
.side_bar ul li{ 
    padding: 10px;
    padding-right:0px;
    padding-left: 12px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
}
.side_bar ul li{
    margin-right:2px;
}
.side_bar ul li:hover{ 
    /* background:#3a85d4; */ 
    /* color: #fff; */
}

.tournament_series{
   background-color: #f9f9fb;
   border-radius: 5px; 
   cursor: pointer; 
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tournament_series h6 img{
    width: 5%;
    border-radius: 100px;
    margin-right: 15px;
}
.side_bar_head .team{
    display: inline-grid;
    position: relative;
    bottom: 5px;
}
.side_bar_head .trophy_name{
    font-size: 12px;
}
.side_bar_head span:hover {
    color: green;
}
.team_score p span:hover{
    color: green;
}
.side_bar_head .see_all{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
    color: blue;
}
.match_statu p{
    margin-bottom: 0;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
}
.match_statu .live{
    color: red;
    font-weight: bolder;
}
.team_score{
    margin-top: 15px;
    margin-top: 15px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.team_score img{
    width: 20px;
}
span.target {
    float: right;
    font-weight: 600;
}
span.team_name {
    margin-left: 10px;
    font-weight: 600;
}
.team_score p{
    margin-bottom: 8px;
}
marquee {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}
.live_match img{
    border-radius: 15px;
}
.live{
    font-weight: bold;
}
.live_match {
    padding: 15px;
}
.team_win{
    text-align: center;
    margin: 15px 0;
    color: red;
    font-weight: 600;
}
.margin_top12{
    margin-top: 15px;
}
body {
	background-color: #fff;
	font-size: 14px;
}
nav {
	position: relative;
	/* margin: 50px; */
	/* width: 360px; */
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  /* Sub Menu */
}
nav ul li a {
	display: block;
	/* background: #ebebeb;
	padding: 10px 15px; */
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
nav ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav ul ul {
	/* background-color:#ebebeb; */
}
nav ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav ul li ul li a:hover {
	background: #ebebeb;
	/* border-left: 4px solid #3498db; */
}