<section class="container-fluid tournament">
 <div class="col-md-2">
   <div class="side_bar">
     <h6 class="side_bar_heading"> All Series</h6>
     <ul>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> World Cup
        <ul>
          <li><a href="#">Season 1</a></li>
          <li><a href="#">Season 2</a></li>
          <li><a href="#">Season 3</a></li>
          <li><a href="#">Season 4</a></li>
        </ul>
      </li>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> Duleep Trophy 
        <ul>
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
            <li><a href="#">Season 4</a></li>
          </ul>
      </li>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> Vijay Hazare Trophy
        <ul>
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
            <li><a href="#">Season 4</a></li>
          </ul>
      </li>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> Ranji Trophy 
        <ul>
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
            <li><a href="#">Season 4</a></li>
          </ul>
      </li>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> Irani Cup
        <ul>
            <li><a href="#">Season 1</a></li>
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
            <li><a href="#">Season 4</a></li>
          </ul>
      </li>
       <li> <i class="fa fa-trophy" aria-hidden="true"></i> Indian Premier League
        <ul>
            <li><a href="#">Season 1</a></li> 
            <li><a href="#">Season 2</a></li>
            <li><a href="#">Season 3</a></li>
            <li><a href="#">Season 4</a></li>
          </ul>
      </li>
     </ul>  
   </div>
 </div>
 <div class="col-md-8">
   <div class="tournament_series">
    <h6 class="side_bar_head"> <img src="../../../assets/duleep_cup.png" alt=""> <span class="team">  KINGS XI PUNJAB vs DELHI CAPITALS <br>  <span class="trophy_name">Indian-premier-league-2019 </span>  </span>
     <span class="see_all">See All</span>
     </h6>
     <div class="match_statu">
       <p class="live">Live</p>
       <p>Sunday 12th May 2019</p>
     </div>
     <div class="team_score">
       <p> <img src="../../../assets/panjab.jpg" alt=""> <span class="team_name">KINGS XI PUNJAB</span> 
        <span class="target">150 Runs (20 Over) </span>   </p>
       <p> <img src="../../../assets/delhi.jpg" alt=""> <span class="team_name">DELHI CAPITALS</span> 
        <span class="target"> 75/2 Runs (8.4 Over) </span>  </p>
        <marquee  behavior="scroll" direction="left">Delhi Capital need 75 runs with 72 ball</marquee>
     </div>
     <div class="live_match">
     <img src="../../../assets/capital_bg.jpg" width="100%" alt=""> 
        <p class="team_win">Delhi Capital Won by 5 Wickets </p>
     </div>
   </div> 
   <div class="tournament_series margin_top12">
      <h6 class="side_bar_head"> <img src="../../../assets/duleep_cup.png" alt=""> <span class="team">  KINGS XI PUNJAB vs DELHI CAPITALS <br>  <span class="trophy_name">Indian-premier-league-2019 </span>  </span>
       <span class="see_all">See All</span>
       </h6>
       <div class="match_statu">
         <p class="live">Live</p>
         <p>Friday 08th May 2019</p>
       </div>
       <div class="team_score">
         <p> <img src="../../../assets/panjab.jpg" alt=""> <span class="team_name">KINGS XI PUNJAB</span> 
          <span class="target">150 Runs (20 Over) </span>   </p>
         <p> <img src="../../../assets/delhi.jpg" alt=""> <span class="team_name">DELHI CAPITALS</span> 
          <span class="target"> 75/2 Runs (8.4 Over) </span>  </p>
          <marquee  behavior="scroll" direction="left">Delhi Capital need 75 runs with 72 ball</marquee>
       </div>
       <div class="live_match">
       <img src="../../../assets/capital_bg.jpg" width="100%" alt=""> 
          <p class="team_win">Delhi Capital Won by 5 Wickets </p>
       </div>
     </div> 
 </div>
 <div class="col-md-2">
  <div class="side_bar">
    <h6 class="side_bar_heading"> Top Story</h6>
    <ul>
      <li> World Cup 2019</li>
      <li> Duleep Trophy 2019</li>
      <li> Vijay Hazare Trophy 2019</li>
      <li> Ranji Trophy 2019</li>
      <li> Irani Cup 2019</li>
      <li> Indian Premier League 2019</li>
    </ul>  
  </div>
 </div>
</section>