
.side_bar{
    background-color: #f9f9fb;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h6.side_bar_heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    padding: 10px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}
.side_bar ul li ul{
    display: none;
}

.side_bar ul li:hovr ul{
    display:inline-block;
}
h6.side_bar_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 12px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: 800;
}
.side_bar ul li{ 
    padding: 10px;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
}
.side_bar ul li i{
    margin-right:2px;
}
.side_bar ul li:hover{ 
    background:#3a85d4;
    color: #fff;
}
.tournament_series{
   background-color: #f9f9fb;
   border-radius: 5px; 
   cursor: pointer; 
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tournament_series h6 img{
    width: 5%;
    border-radius: 100px;
    margin-right: 15px;
}
.side_bar_head .team{
    display: inline-grid;
    position: relative;
    bottom: 5px;
}
.side_bar_head .trophy_name{
    font-size: 12px;
}
.side_bar_head span:hover {
    color: green;
}
.team_score p span:hover{
    color: green;
}
.side_bar_head .see_all{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
    color: blue;
}
.match_statu p{
    margin-bottom: 0;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
}
.match_statu .live{
    color: red;
    font-weight: bolder;
}
.team_score{
    margin-top: 15px;
    margin-top: 15px;
    margin-bottom: 12px;
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.team_score img{
    width: 20px;
}
span.target {
    float: right;
    font-weight: 600;
}
span.team_name {
    margin-left: 10px;
    font-weight: 600;
}
.team_score p{
    margin-bottom: 8px;
}
marquee {
    margin-top: 15px;
    font-size: 14px;
    color: green;
}
.live_match img{
    border-radius: 15px;
}
.live{
    font-weight: bold;
}
.live_match {
    padding: 15px;
}
.team_win{
    text-align: center;
    margin: 15px 0;
    color: red;
    font-weight: 600;
}
.margin_top12{
    margin-top: 15px;
}
