.run {
    display: block;
    margin-top: 70px;
}
.label-short{
    display: none;
}
p {
    margin-top: 0;
    margin-bottom: -1rem;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;

}
.padding_set{
    padding-top: 30px;
    border-radius:  10px;
}
li {
    line-height: 32px;
    text-align: center;
}
.icon-wicket{
    background-image: url(https://a.espncdn.com/redesign/assets/img/icons/icon-wicket.png);
    background-size: 8px 13px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    height: 22px;
    left: 0;
    margin: -16px auto 0;
    right: 0;
    width: 16px;
}
.Bowlers
{
	height: 415px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-top: 20px;
  	border-radius: 10px;
}
.img_dhoni
{
	height: 50px;
	width: 50px;
    margin-top: -5px;
    border-radius: 50px;
}

.right_border
{
	height: 320px;
	width: 1px;
	background-color: grey;
	border-right: 1px;
	float: right;
	margin-top: -310px;
}
.chart-table {
    float: left;
    width: 106px;
}
.chart-table tr {
    border-bottom: #dcdddf 1px dashed;
    border-top: #dcdddf 1px dashed;
}
.rbh
{
    color:white;
	margin-top: 25px;
}
table tr {
    border-top: 1px solid #f1f2f3;
    text-align: right;
}
 table tr td {
    border-left: #f1f2f3 1px solid;
    border-right: #f1f2f3 1px solid;
    font-size: 9px;
    height: 32px;
    line-height: 1;
    padding: 0;
    text-align: center;
    width: 20px;
}

table caption {
    border-bottom: 0;
    height: auto;
    font-size: 10px;
    font-weight: 700;
}

.chart-table-headers {
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    left: -41px;
    right: 0;
    /* top: 66px; */
}
 .li-set li {
    line-height: 32px;
    text-align: center;
    list-style: none;
}
.li-set ul li span{
	color:red!important;
}
.chart-table-headers li span.label.full {
    display: inline;
}
.short{
	display: none
}
.label-short.abel-full {
	color:#000;
}
.abel-full {
	color:#000;
}
.imran{
    display: inline-block;
}
.right-float{
    float: right;
}
.player-name{
    margin-left:30px;   
    display: inline-block;
}
.omrw
{    float: right;
    margin-top: -40px;
    margin-right: 10px;
}
.omr{
    
    margin-left: 75px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Bowlers{
        height: auto;
    }
    .chart-table{
        width: 100%;
    }
    .right_border{
        display: none;
    }
}