<style>
	.run {
		display: block;
		margin-top: 70px;
	}

	p {
		margin-top: 0;
		margin-bottom: -1rem;
		font-family: "Roboto";
		font-weight: 600;
		font-size: 20px;

	}
</style>




<div class="will">
	<!-- <div class="container">
		<div class="row run">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<strong>Best performances- Batsmen</strong>
				<hr>
			</div>
			<div class="col-md-8">
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="col-md-2">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
<div class="container">
	<!-- <div class="row run">
		<div class="col-md-8 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title">Manhattan </p><br />
			<table class="chart-table" >
				<caption >
					RHB
				
					<div ><span >OFF</span><span class="icon-wicket"
							></span><span >LEG</span></div>
				</caption>
				<tbody >
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#F2C50C;" >1W</td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#F2C50C;" >1W</td>
						<td style="background-color:#F2B320;" >1W</td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#F2B320;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
					<tr >
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#F2C50C;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
						<td style="background-color:#fff;" ></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->
	<div class="row run">
		<div class="col-md-8 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title">Manhattan </p><br />
			<app-statistics-manhattan></app-statistics-manhattan>
		</div>
	</div>
	<div class="row run">
		<div class="col-md-8 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title"> Run Rate</p><br />
			<app-statistics-run-rate></app-statistics-run-rate>
		</div>
	</div>
	<div class="row run">
		<div class="col-md-8 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title">Worm</p><br />
			<app-statistics-worm></app-statistics-worm>
		</div>
	</div>

</div>


<!-- 
  <app-statistics-run-rate></app-statistics-run-rate>

  <app-statistics-worm></app-statistics-worm> -->