<style>
	.run
	{
    display: block;
    margin-top: 70px;
	}
	
		p {
    margin-top: 0;
    margin-bottom: -1rem;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;

}
</style>




<div class="will">
	<div class="container-fluid">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p>Best performances- Batsmen</p><hr>
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="col-md-2">
						<img src="https://www.google.com/search?q=ms+dhoni+picture&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjXycae--PiAhWHWX0KHdC9CHYQ_AUIECgB&biw=1366&bih=657#imgrc=9-DEKvoe_rs2bM:">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	
	<div class="row run">
		<div class="col-md-8 col-sm-8 col-xs-8">
			<p>Manhattan </p>
 		 <app-statistics-manhattan></app-statistics-manhattan>
		</div>
	</div>
		<div class="row run">
		<div class="col-md-8">
			<p> Run Rate</p>
 		<app-statistics-run-rate></app-statistics-run-rate>
		</div>
	</div>
	<div class="ron run">
		<div class="col-md-8">
			<p>Worm</p>
 	<app-statistics-worm></app-statistics-worm> 
		</div>
	</div>

</div>


<!-- 
  <app-statistics-run-rate></app-statistics-run-rate>

  <app-statistics-worm></app-statistics-worm> -->