<div class="will">
	<!-- <div class="container">
		<div class="row run">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<strong>Best performances- Batsmen</strong>
				<hr>
			</div>
			<div class="col-md-8">
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="col-md-2">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
<div class="container">
	<div class="row run">
		<section>
				  <div class="row col-md-12 Bowlers bottom-margin padding_set bottom-margin-frist-div">
					 <div class="col-md-12">
						<p class="title">Best performances - Bowlers</p>
						<hr />
						<div class="will col-md-6">
						   <div class="col-md-6">
							  <img src="../../../assets/Virat-Kohli.jpg" class="img_dhoni">
							  <h5 class="imran">ImranTahir</h5>
						   </div>
						   <div class="col-md-">
							  <p class="col-md-6"><b>o m r w eco<br />4 0 20 3 5.00</b></p>
						   </div>
						   <div style="clear: both;"></div>
						   <div class="col-md-4 table_rbh">
							  <h6 class="pull-left "><b>RBH</b></h6>
							  <table class="chart-table">
								 <caption>
									<div><span>OFF_____|||_____</span><span class="icon-wicket"
									   ></span><span style="float:right">LEG</span></div>
								 </caption>
								 <tbody>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#e83e8c;">2W</td>
									   <td style="background-color:#e83e8c;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
								 </tbody>
							  </table>
						   </div>
						   <div class="col-md-4">
							  <h6 class="pull-left table_rbh"><b>RBH</b></h6>
							  <ul class="chart-table-headers li-set li-top ">
								 <li  ><span class="label-short" >FT</span><span class="label-full" >FULL TOSS</span></li>
								 <li ><span class="label-short" >Y</span><span class="label-full" >YORKER</span></li>
								 <li ><span class="label-short" >F</span><span class="label-full" >FULL LENGTH</span></li>
								 <li ><span class="label-short" >G</span><span class="label-full" >GOOD LENGTH</span></li>
								 <li ><span class="label-short" >SG</span><span class="label-full" >SHORT OF GOOD LENGTH</span></li>
								 <li ><span class="label-short" >S</span><span class="label-full" >SHORT LENGTH</span></li>
							  </ul>
						   </div>
						   <div class="col-md-4 li-set-mob">
							  <h6 class="pull-left table_rbh"><b>RBH</b></h6>
							  <table class="chart-table">
								 <caption>
									<div><span>OFF_____|||_____</span><span class="icon-wicket"
									   ></span><span style="float:right">LEG</span></div>
								 </caption>
								 <tbody>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#e83e8c;">2W</td>
									   <td style="background-color:#e83e8c;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
								 </tbody>
							  </table>
						   </div>
						   <div class="right_border"></div>
						</div>
						<div class="will col-md-6 pull-right">
						   <div class="col-md-2">
							  <img src="../../../assets/Virat-Kohli.jpg" class="img-circle img_dhoni">
						   </div>
						   <div class="col-md-">
							  <p><b>o m r w eco<br />4 0 20 3 5.00</b></p>
						   </div>
						   <div style="clear: both;"></div>
						   <div class="col-md-4">
							  <h6 class="pull-left table_rbh"><b>RBH</b></h6>
							  <table class="chart-table">
								 <caption>
									<div><span>OFF_____|||_____</span><span class="icon-wicket"
									   ></span><span style="float:right">LEG</span></div>
								 </caption>
								 <tbody>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#e83e8c;">2W</td>
									   <td style="background-color:#e83e8c;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
								 </tbody>
							  </table>
						   </div>
						   <div class="col-md-4">
							  <h6 class="pull-left table_rbh"><b>RBH</b></h6>
							 <ul class="chart-table-headers li-set li-top">
								 <li  ><span class="label-short" >FT</span><span class="label-full" >FULL TOSS</span></li>
								 <li ><span class="label-short" >Y</span><span class="label-full" >YORKER</span></li>
								 <li ><span class="label-short" >F</span><span class="label-full" >FULL LENGTH</span></li>
								 <li ><span class="label-short" >G</span><span class="label-full" >GOOD LENGTH</span></li>
								 <li ><span class="label-short" >SG</span><span class="label-full" >SHORT OF GOOD LENGTH</span></li>
								 <li ><span class="label-short" >S</span><span class="label-full" >SHORT LENGTH</span></li>
							  </ul>
						   </div>
						   <div class="col-md-4 li-set-mob">
							  <h6 class="pull-left table_rbh"><b>RBH</b></h6>
							  <table class="chart-table">
								 <caption>
									<div><span>OFF_____|||_____</span><span class="icon-wicket"
									   ></span><span style="float:right">LEG</span></div>
								 </caption>
								 <tbody>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#e83e8c;">2W</td>
									   <td style="background-color:#e83e8c;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#3a85d4;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
									<tr>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									   <td style="background-color:#fff;"></td>
									</tr>
								 </tbody>
							  </table>
						   </div>
						</div>
					 </div>
					
		</div>
		 </section>
	</div>
	<div class="row run">
		<div class="col-md-12 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title">Manhattan </p><br />
			<app-statistics-manhattan></app-statistics-manhattan>
		</div>
	</div>
	<div class="row run">
		<div class="col-md-12 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title"> Run Rate</p><br />
			<app-statistics-run-rate></app-statistics-run-rate>
		</div>
	</div>
	<div class="row run">
		<div class="col-md-12 col-sm-8 col-xs-8 bottom-margin padding_set">
			<p class="title">Worm</p><br />
			<app-statistics-worm></app-statistics-worm>
		</div>
	</div>

</div>


<!-- 
  <app-statistics-run-rate></app-statistics-run-rate>

  <app-statistics-worm></app-statistics-worm> -->