.padding_set{
    padding-top: 30px;
    border-radius:  10px;
}
li {
    line-height: 32px;
    text-align: center;
}
.icon-wicket{
    background-image: url(https://a.espncdn.com/redesign/assets/img/icons/icon-wicket.png);
    background-size: 8px 13px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    height: 22px;
    left: 0;
    margin: -16px auto 0;
    right: 0;
    width: 16px;
}
