.run {
    display: block;
    margin-top: 70px;
}
p {
    margin-top: 0;
    margin-bottom: -1rem;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 20px;

}
.padding_set{
    padding-top: 30px;
    border-radius:  10px;
}
li {
    line-height: 32px;
    text-align: center;
}
.icon-wicket{

    background-size: 8px 13px;
    height: 22px;
    left: 0;
    margin: -16px auto 0;
    right: 0;
    width: 16px;
    clear: both;
}
.Bowlers
{
	height: 415px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-top: 20px;
  	border-radius: 10px;
}
.img_dhoni
{
	height: 50px;
	width: 50px;
    margin-top: -5px;
    border-radius: 50px;
}
.imran
{   
    font-family: Roboto;
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
    font-weight: 800;
    font-style: italic;
    font-weight: 800;
	margin-left: 60px;
    margin-top: -33px;
    display: block;

}

.right_border
{
	height: 320px;
	width: 1px;
	background-color: grey;
	border-right: 1px;
	float: right;
    margin-top: -315px;
    margin-left: 5px;
}
.chart-table {
    float: left;
    width: 106px;
}
.chart-table tr {
    border-bottom: #dcdddf 1px dashed;
    border-top: #dcdddf 1px dashed;
}
.rbh
{
    color:white;
	margin-top: 25px;
}
table tr {
    border-top: 1px solid #f1f2f3;
    text-align: right;
}
 table tr td {
    border-left: #f1f2f3 1px solid;
    border-right: #f1f2f3 1px solid;
    font-size: 9px;
    height: 32px;
    line-height: 1;
    padding: 0;
    text-align: center;
    width: 20px;
}

table caption {
    border-bottom: 0;
    height: auto;
    font-size: 10px;
    font-weight: 700;
}

.chart-table-headers {
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    left: -41px;
    right: 0;
    /* top: 66px; */
}
 .li-set li {
    line-height: 32px;
    text-align: center;
    list-style: none;
}
.li-set{
    margin-top: 40px;
}
.li-set ul li span{
	color:red!important;
}
.chart-table-headers li span.label.full {
    display: inline;
}
.short{
	display: none
}
.label-short.abel-full {
    color:#000;
}

b
{
    float: right;
}
.table_rbh
{
    margin-top: 12px;
    font-size: 16px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.bottom-margin-frist-div {
    height: 814px;
    margin-left:0px;
}
.right_border{
    display: none;
}
.li-set{
    margin-left: 123px;
}
.label-full{
    display: none;
}
.chart-table{
    margin-left: -55px;
    margin-top: 21px;
}
.table_rbh b{
    margin-top:-11px;
}
b{
    margin-bottom: 14px;
}
 .li-set-mob{
      display: inline-block;
    margin-top: -107%;
    margin-left: 66%;
}
.li-top{
    display: inline-block;
    margin-top: -84%;
    margin-left: 39px;
}

    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}